
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<nav class = "navbar navbar-default" role = "navigation" id = "navbar1">
<div class = "container-fluid">
 <div class = "navbar-header">
  <a class="navbar-brand" id="navbar-left" >
    <span class="glyphicon glyphicon glyphicon-scissors"></span>
      <h3>TinyUrl</h3>
      </a>
<ul class = "navbar-nav" id="navbar-right">
<% if(user) { %>
<li><h4 id="logged-in"> Logged In: <br><%= user.email %> </h4>
 <form action="/logout" method="POST"> <input type="submit" value="logout" name = "logout">
 </form>
<%}%> </li>
</ul>
</div>
</div>
</nav>



