
<meta charset="UTF-8">
<title>TinyUrl</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">

<style>
    body {
    font-family: quicksand;
    padding-top:10px;
    padding-left:30px;
    background-color:#F0F8FF;
    color:gray;
   }

   .form {
    padding-left: 200px;
    padding-right:200px;
    padding-top: 90px
   }

#navbar1 {
  padding-top: 20px;
  padding-bottom:20px;
}

#navbar-right {

  margin-left: 450px;
  text-decoration: none;
  list-style-type: none;
  marg
}

#logged-in {
  margin-bottom: 5px;
}

#register-header {
  text-align: center

}

#login-header {
  text-align: center

}


h3 {
  text-size:30px;
  margin-top: 0;



}




</style>


