<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
</head>
<body>


<form action="/register" method = "POST">
  e-mail:<br>
  <input type="email" name="email"><br>
  password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>