<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <title>URLs</title>
</head>
<body>
    <header>
      <% include ./partials/_header %>

    </header>
  <main>
   <h2><%= title %></h2>
   <ul>
     <% for (var key in urls) { %>
       <% if (urls[key].user_id === user.id) { %>
        <li><%= key + " --> " + urls[key].url%> <form method="POST" action=<%=`/urls/${key}/delete/`%>><a href=<%=`./urls/${key}/`%>>edit</a> <input style="margin-left: 5px" type="submit" value="DELETE"></form></li>
        <% } %>
       <% } %>
   </ul>
  </main>

</body>
</html>


