<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <title>URLs</title>
</head>
<body>
    <header>
      <% include ./partials/_header %>

    </header>
  <main>
   <h2><%= title %></h2>
   <ul>
     <% for (var key in urls) { %>
       <% if (urls[key].user_id === user.id) { %>
        <li><%= key + " -------> " + urls[key].url%>
        <form method="POST" action="/urls/<%=key%>?_method=DELETE">
           <input type="submit" value="Delete">
           </form>
           <a href="/urls/<%=key%>">Update</a>
        </li>
        <% } %>
       <% } %>
   </ul>
  </main>

</body>
</html>


