<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% include 'head' %>
  <title>Shortened Urls</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <main>
  <h1>Hello This is the shortened URLS</h1>
  </main>

  <footer>

  </footer>

</body>
</html>